html, body {
    width: 100%;
    height: 100%;
    background-color: var(--color5);
    box-sizing: border-box;
    overflow-x: hidden;
}
.wrapper, .container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.container { 
    position: relative;
}

.header, .content, .footer {
    width: 100%;
    overflow-x: hidden;
}
.content {
    overflow-y: hidden;
}
.header {
    width: 100%;
    box-sizing: content-box;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    box-sizing: border-box;
}

.footer {
    background-color: var(--color5);
    display: flex;
    flex-direction: column; 
    margin-top: 20px;
    border-top: 1px dashed var(--color4);  
    padding: 0px 8%;
    padding-bottom: 40px;
}
.footer__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px;
}
.footer__row:nth-child(1) {
    margin-bottom: 25px;
    border-bottom: 2px solid var(--color4);
    padding: 100px 0px;
}
.footer__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
}
.footer__list-title{
    color: var(--color1);
    font-weight: 600;
    margin-bottom: 60px;
}
.footer__social-media{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
}
.footer__social-media img {
    height: 30px;
    object-fit: contain;
}
.footer__social-media a:nth-child(3) img {
    height: 25px;
}
.footer__social-media a:nth-child(4) img {
    height: 50px;
}
.footer__description{
    color: var(--color4);
    width: 250px;
}
.footer__list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__list a {
    color: var(--color6);
}
.footer__list a:hover {
    color: var(--color2);
    text-decoration: underline;
}
.footer__copyright{
    color: var(--color6);
}   
.footer__developed{
    color: var(--color6);
}

.hotbar{
    display: flex;
    width: 100%;
    background-color: var(--color0);
    flex-direction: column;
    padding: 10px 10% 20px;
    gap: 15px;
    
}
.hotbar__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hotbar__row:nth-child(1) {
    padding-left: 30px;
}
.hotbar__column{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.hotbar__logo{

}
.hotbar__location{
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 5px;
}
.hotbar__location span {
    color: var(--color4);
}
.timer{
    display: flex;
    flex-direction: row;
    align-items: center; 
}
.hotbar__timer{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.timer__text{

}
.timer__text p:nth-child(1) {
    color: var(--color6);
    font-weight: 500;
}
.support{
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 0px;
}
.support p {
    color: var(--color6);
}
.hotbar__support{

}

.support__column:nth-child(1) {
    width: 80px;
    
}
.support__column:nth-child(2) {
    display: inline-flex;
    flex-direction: column;
}
.support__column:nth-child(2) p {
    color: var(--color1);
    font-weight: 900;
}
.hotbar__category {
    display: flex;
    flex-direction: row;
    width: 250px;
    padding: 10px;
    gap: 15px;
    background-color: var(--color0);
    align-items: center;
    border-radius: 12px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.305);
}
.hotbar__category p {
    width: 100px;
    color: var(--color3);
    font-weight: 600;
}
.hotbar__language {
    color: var(--color6);
}
.hotbar__search{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid var(--color4);
    border-radius: 20px;
    height: 40px;
    min-width: 250px;
    width: 400px;
    overflow: hidden;
}
.hotbar__search input {
    flex: 1;
    padding: 15px;
}
.hotbar__search a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    width: 50px;
    background-color: var(--color5);
    height: 100%;
}
.hotbar__card{

}
.hotbar__account{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.hotbar__account p {
    width: 50px;
    color: var(--color4);
}
.hotbar__saved{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.hotbar__saved p {
    width: 50px;
    color: var(--color1);
}
.hotbar__cart{
    display: flex;
    flex-direction: row;
    align-items: center;    
    gap: 5px;
}
.hotbar__cart svg {
    margin-right: 10px;
}
.hotbar__cart p:nth-child(2) {
    display: flex;
    flex-direction: column;
    color: var(--color1);
}
.hotbar__cart p:nth-child(2) span:nth-child(1) {
    color: var(--color6);
}
.hotbar__cart p:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    color: var(--color0);
    border-radius: 50px;
    font-weight: 600;
    width: 25px;
    height: 25px;
}

.product {
    display: inline-flex;
    flex-direction: column;
    padding: 15px;
    min-width: 230px;
    background-color: var(--color0);
    border: 1px solid var(--color4);
    position: relative;
}
.product__photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 150px;
    margin-bottom: 10px;
}
.product__photo img {
    width: 100%;
    object-fit:contain;
}
.product__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    margin-bottom: 10px;
}
.product__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product__title{
    color: var(--color6);
    font-weight: 600;
}
.product__price{
    display: flex;
    flex-direction: column;
}
.product__last-price{
    position: relative;
    display: inline-block;
    color: var(--color6);
    font-weight: 600;
}
.product__last-price::after {
    content: "";
    position: absolute;
    top: 45%;
    left: 0;
    width: 65%;
    height: 1px;
    background-color: var(--color3);
    transform: rotate(-10deg);
    transform-origin: center;
    pointer-events: none;
  }
.product__actual-price{
    color: var(--color3);
}
.product__percentage{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    border-radius: 10px 0 10px 0;
    padding: 1px;
    height: 20px;
    font-weight: 600;
    color: var(--color0);
}
.product__nav{

}
.product__save{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    top: 10px;
    right: 15px;
    background-color: var(--color5);
}
.product__add-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color5);
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

.product-list{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px 9%;
    background-color: var(--color0);
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
.product-list__list{
    display: flex;
    overflow: scroll hidden;
    width: 100%;
}
.product-list__list {
    overflow: auto; /* sau scroll */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
  
.product-list__list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.product-list__nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 5%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0px;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color0);
    border: 2px solid var(--color6);
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
.arrow img {
    width: 30px;
}
.arrow-left img {
    transform: scaleX(-1);
}
.arrow-right{
}
.product-list__header{
    margin-bottom: 35px;
}
.product-list__title{
    font-weight: 600;
}

.popup{
    transition: width 350ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: var(--color7);
    overflow: hidden;
    opacity: 0;
    width: 0%;
    height: 0%;
    top: 0px;
    left: 0px;
    padding-top: 50px;
    z-index: 10;
}
.not-popup {
    background-color: transparent;
    position: static;
    width: 100%;
    height: 100%;
    opacity: 1;
}
.not-popup .popup__close-button {
    color: var(--color6);
}
.not-popup .popup__close-button svg {
    fill: var(--color6);
    color: var(--color6);
    stroke: var(--color6);
    flood-color: var(--color6);
}
.not-popup .popup__signup, .not-popup .popup__signup a, .not-popup .popup__login a {
    color: var(--color6);
}
.not-popup .popup__signup a, .not-popup .popup__login a {
    border-color: var(--color6);
}
.not-popup .popup__section label::after {
    content: "";
    display: none;
}
.popup-open {
    opacity: 1;
    width: 100%;
    height: 100%;
}
.popup__close-button{
    display: flex;
    color: var(--color0);
    align-items: center;
    gap: 10px;
}
.popup__login-window, .popup__signup-window, .popup__verify-window, .popup__error-window{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 15px;
}
.popup__verify-window .popup__nav {
    justify-content: flex-end;
}
.popup__error-window .popup__section {
    justify-content: center;
}
.popup__error-window .popup__section .error_message {
    color: var(--color3);
}
.popup__title{
    display: inline-flex;
    background-color: var(--color0);
    border-top-left-radius: 50px;
    padding: 20px 50px 0px 50px;
}

.popup__title svg {
    width: 50px;
}
.popup__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding: 50px;
    border-radius: 15px;
    background-color: var(--color0);
    gap: 30px;
    margin-bottom: 20px;
}
.popup__form-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
    width: 70%;
    padding: 5px;
    border-bottom: 1px solid var(--color4);
}
.popup__section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.popup__section label {
    color: var(--color6);
}
.popup__section label::after {
    content: "*";
    color: var(--color3);
    margin-left: 3px;
}
.popup__input{
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid var(--color4);
    padding: 10px;
    width: 250px;
    gap: 10px;
}
.popup__input svg {
    width: 20px;
    height: 20px;
}
.popup__input input {
    padding: 5px;
    flex: 1;
    width: 100%;
    height: 100%;
}
.popup__nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}
.popup__nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    border: 15px;
    border-radius: 10px;
    padding: 15px;
    min-width: 170px;
    color: var(--color0);
}
.popup__signup, .popup__login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color0);
    gap: 15px;
}
.popup__signup a, .popup__login a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    border: 1px solid var(--color0);
    border-radius: 15px;
    color: var(--color0);
    width: 300px;
}

.popup__section_policy {
    justify-content: flex-end;
    padding-right: 30px;
}
.popup__section_policy .popup__input {
    border: none;
}
.popup__section_policy .popup__input input {
    background-color: var(--color3);
    width: 20px;
}
.popup__section_policy a {
    color: var(--color2);
    text-decoration: underline;
}

.profile-header{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding: 30px 8%;
}
.profile-header h2 {
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.profile-header__path, .profile-header__path a{
    color: var(--color6);
}
.profile-header__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-header__row .button-logout {
    color: var(--color6);
}
.profile-header__row .button-logout:hover {
    color: var(--color1);
    font-weight: 900;
    border-bottom: 3px solid var(--color3);
}
.profile-header__row a {
    padding: 10px 0px;
}
.profile-header__section-list{
    display: flex;
    gap: 30px;
}
.button-section-data, .button-section-favorite, .button-section-bought{
    color: var(--color6);
}
.selected {
    color: var(--color1);
    font-weight: 900;
    border-bottom: 3px solid var(--color3);
}
.profile-data{
    transition: height 1000ms ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: var(--color0);
    padding: 150px 8%;
    width: 100%;
}
.profile-data__section-data{
    transition: all 1000ms ease-in-out;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.profile-data__section-data .popup__section {
    justify-content: space-between;
    width: 450px;
}
.profile-data__section-data .popup__nav {
    margin-top: 30px;
    width: 370px;
}
.profile-data__section-data .popup__section_phone-number label::after {
    content: "";
    display: none;
}
.profile-data__section-data .popup__section_phone-number .popup__input {
    border: none;
}
.profile-data__section-data .popup__section_phone-number input {
    
    display: inline-flex;
}
.profile-data__section-data .popup__section_phone-number .popup__input svg:nth-child(3) {
    color: var(--color2);
}
.profile-data__section{

}
.profile-data__input{

}
.profile-data__section-favorite{
    transition: all 1000ms ease-in-out;
    opacity: 1;
}
.profile-data__section-bought{
    transition: all 1000ms ease-in-out;
    opacity: 1;
}
.hidden{
    transition: all 150ms ease-in-out;
    opacity: 0;
    width: 100%;
    height: 0px;
}